.container {
  display: grid;

  /* 화면 크기에 따라 자동으로 늘었다 줄어드는 비율 기반 grid */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 10px;

  /* 전체 크기를 화면에 대응되게 만들기 위해 width 지정 */
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
}

/* 공통 스타일 */
.item {
  background-color: rgba(13, 104, 150, 0.534);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

/* I1 → 2×2 */
.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 3;
  grid-row: 1;
}

.item3 {
  grid-column: 3;
  grid-row: 2;
}

/* I4가 가로 2칸 */
.item4 {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.item5 {
  grid-column: 3;
  grid-row: 3;
}
